@import "colors";
@import "syntax-variables";

.editor-colors {
  background-color: @white;
  color: @gray_dark; }

.editor {
  font-family: 'Espresso Mono', Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;

  .invisible-character,
  .indent-guide { color: @gray_light2; }

  .gutter { background-color: @gutter; }

  .gutter .line-number { opacity: 1; color: @gutter_text; }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after { color: @gutter_text; }

  .cursor { border-color: @cursor; }

  .selection .region {
    background-color: @selection;
    // border: 1px solid @light_blue_border;
    border-radius: 2px; }

  .line-number.cursor-line-no-selection { background-color: @gutter_highlight; }

}

.bracket-matcher {
  background-color: @light_blue;
  border-radius: 2px;
  border: 1px solid @blue;
}

.hxml {
    .keyword { color: @dark_red; font-weight: bold; }
}

.haxe {
    .comment {
      color: @comment;
      font-style: italic; }

    .entity { color: @blue_tag; }

    .storage.type.package { color: @violet; font-weight: bold; font-style: italic; }

    .storage.type.import { color: @turquoise; font-weight: bold;}

    .storage.type.class { color: @purple; }

    .storage.modifier { color: @dark_blue; }

    .keyword.other { color: @dark_red; font-weight: bold; }

    //.punctuation.terminator { color: @dark_red; }

    .keyword.operator.assignment { color: @purple_dark; }

    //.meta.scope.field-completions { color: @dark_red; }

    .constant { color: @red;

      &.numeric,
      &.boolean { color: @light_purple; }

    }

    .variable { color: @dark_red; }

    .delimiter, .brace { color: @black; }

    .delimiter.period { color: @green; }

    .invalid.deprecated {
      text-decoration: underline;
      color: @red; }

    .invalid.illegal { color: @red; }

    .string { color: @red;

      .constant.character.escape { color: @red; }

      &.regexp { color: @turquoise;

        .source.ruby.embedded,
        .string.regexp.arbitrary-repitition { color: @red; }

      }
    }
}

// CSS

.css {

  .entity { color: @blue; }

  .property-name { color: @red; }

  .variable { color: @green; }

  .constant,
  .unit {
    color: @purple;
    background-color: @light_purple;
    border-radius: 3px; }

  .quoted { color: @orange; }

}

// HTML
.html,
.xml {

  .tag { color: @blue; }

  .entity { color: @blue_tag;

    &.name {
      background-color: @light_blue;
      border-radius: 3px; }

  }

  .comment { color: @comment; }

  .attribute-name { color: @blue; }

  .quoted { color: @red;

    .punctuation { color: @dark_blue; }

  }

  .js .quoted { color: @orange; }

}

// Markdown
.gfm {

  .link {
    color: @black;
    font-weight: bold;

    .entity {
      color: @orange;
      font-weight: normal; }

    .link {
      color: @green;
      font-weight: normal; }

  }

  .heading {
    font-weight: bold;
    color: @black; }

  .list,
  .hr { color: @red; }

  .quote {
    font-style: italic;
    color: @dark_blue; }

  .raw { color: @purple;

    .support {
      color: @red;
      font-weight: bold; }

  }

}

// JSON
.json {

  .punctuation { color: @gray_dark;

    &.separator { color: red; }

  }

  .quoted {
    color: @dark_blue;
    background-color: @light_blue;
    border-radius: 3px;  }

  .constant {
    color: @purple;
    background-color: @light_purple;
    border-radius: 3px;  }

}

// YAML
.yaml {

  .entity.name { background-color: @light_blue; }

  .string .punctuation { color: @gray; }

}

// PHP, JS
.php,
.js {
    .comment {
      color: @light-gray;
    }

    .entity {
      &.name.type {
        color: @light-orange;
        text-decoration: underline;
      }

      &.other.inherited-class {
        color: @green;
      }
    }

    .keyword {
      &.control {
        color: @purple;
      }

      &.operator {
        color: @syntax-text-color;
      }

      &.other.special-method {
        color: @blue;
      }

      &.other.unit {
        color: @orange;
      }
    }

    .storage {
      color: @purple;
    }

    .constant {
      color: @purple;

      &.support {
        color: darken(@blue, 10%);
      }

      &.character.escape {
        color: @cyan;
      }

      &.numeric {
        color: @dark-blue;
      }

      &.other.color {
        color: @cyan;
      }

      &.other.symbol {
        color: @green;
      }
    }

    .variable {
      color: @blue;

      &.interpolation {
        color: darken(@blue, 10%);
      }

      &.property {
        color: darken(@blue, 10%);
      }
    }

    .string {
      color: @red;


      &.regexp {
        color: @cyan;

        .source.ruby.embedded {
          color: @orange;
        }
      }

      &.other.link {
        color: @red;
      }
    }

    .punctuation {
      &.definition {
        &.comment {
          color: @light-gray;
        }

        &.parameters,
        &.array {
          color: @syntax-text-color;
        }

        &.heading,
        &.identity {
          color: @blue;
        }

        &.bold {
          color: @light-orange;
          font-weight: bold;
        }

        &.italic {
          color: @purple;
          font-style: italic;
        }
      }

      &.section.embedded {
        color: darken(@purple, 10%);
      }

    }

    .support {
      &.class {
        color: @light-orange;
      }

      &.function:not(.sql)  {
        color: @syntax-text-color;

        &.any-method {
          color: @blue;
        }
      }
    }

    .entity {
      &.name.function {
        color: @syntax-text-color;
      }

      &.name.class, &.name.type.class {
        color: @light-orange;
      }

      &.name.section {
        color: @blue;
      }

      &.name.tag {
        color: @green;
      }

      &.attribute-name {
        color: @green;
      }
    }

    .meta {
      &.class {
        color: @light-orange;
      }

      &.link {
        color: @orange;
      }

      &.require {
        color: @blue;
      }

      &.selector {
        color: @purple;
      }

      &.separator {
        background-color: @gray;
        color: @syntax-text-color;
      }
    }

    .none {
      color: @syntax-text-color;
    }

    .markup {
      &.bold {
        color: @orange;
        font-weight: bold;
      }

      &.changed {
        color: @purple;
      }

      &.deleted {
        color: @red;
      }

      &.italic {
        color: @purple;
        font-style: italic;
      }

      &.heading .punctuation.definition.heading {
        color: @blue;
      }

      &.inserted {
        color: @green;
      }

      &.list {
        color: @red;
      }

      &.quote {
        color: @orange;
      }

      &.raw.inline {
        color: @green;
      }
    }
}